     body{
        background-color:#8080ff;
            font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
      }
      p{
    color: #000000;
    font-family: Futura, “Trebuchet MS”, Arial, sans-serif;
    font-size: 18px;
      }